body {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    width: 500px;
    text-align: center;
    background-color: grey;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}